<!-- draw our own dashboard -->
<div class='row'>
  <div class='col-md-2'>
    <%= link_to "New Request", new_staff_pa_request_path, :class=>'btn btn-small btn-success' %>
  </div>
  <div class='col-md-10'>
    <ul class="nav nav-pills nav-justified">
      <%= pill_link_to "Need Input >", pa_requests_path(status: :need_input) %>
      <%= pill_link_to "Awaiting Response >", pa_requests_path(status: :awaiting_response) %>
      <%= pill_link_to "Determined >", pa_requests_path(status: :determined) %>
      <%= pill_link_to "Archived", pa_requests_path(status: :archived) %>
      <%= pill_link_to "All", pa_requests_path(status: :all) %>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <hr/>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div id="parequests-list">
      <table class="table table-striped table-responsive">
        <tr class="header">
          <th>Status</th>
          <th>Patient Name</th>
          <th>Prescription</th>
          <th>Payer</th>
          <th>Updated</th>
          <th></th>
        </tr>

        <% @requests.each do |request| %>

        <tr class="request">
          <td>
            <%= retrospective_label(request) %>
            <%= cmm_outcome_label(request) %> <%= pa_request_edit_link(request, request.cmm_id) %>
          </td>
          <td>
            <%= link_to "#{request.prescription.patient.description}", request.prescription.patient, class: 'patient-link' %>
          </td>
          <td>
            <%= link_to "#{request.prescription.drug_name}", edit_patient_prescription_path(request.prescription.patient, request.prescription) %>
          </td>
          <td>
            <%= request.form_name %>
          </td>
          <td>
            <%= request.last_updated.strftime("%m/%d/%Y at %I:%M%p") %>
          </td>
          <td class="remove">
            <% unless request.display == false %>
              <%= link_to patient_prescription_pa_request_path(request.prescription.patient, request.prescription, request), method: :delete, :class=>'btn btn-xs btn-danger' do %>
                <i class='glyphicon glyphicon-remove'></i>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
