<h2><%= @patient.full_name %></h2>

<div class='row'>
  <div class='col-md-6'>
    <h3>Medication</h3>
    <p><%= @prescription.drug_name %></p>
    <h4>Quantity</h4>
    <p><%= @prescription.quantity %></p>
    <h4>Frequency</h4>
    <p><%= @prescription.frequency %></p>
    <h4>Refills</h4>
    <p><%= @prescription.refills %></p>
    <% if @prescription.dispense_as_written %>
    <h4>Dispense as Written</h4>
    <% end %>
  </div>


  <div class='col-md-6'>
    <%= form_for @pa_request do |f| %>
    <%= render 'shared/errors', object: f.object %>
    <formset>
      <%= hidden_field :prescription, :drug_number %>
      <legend>Prior Authorization</legend>
      <div class='form-group'>
        <%= f.label :prescriber_id, "Prescriber" %><br/>
        <%= f.collection_select :prescriber_id, User.doctors.all, :id, :display_name, {prompt: 'Select a Prescriber'}, class: 'form-control' %>
      </div>

      <div class='checkbox'>
        <%= f.label :urgent do %>
        <%= f.check_box :urgent, :class=>'checkbox' %>
        <b><span class='large'>This request is urgent?</span></b>
        <% end %>
      </div>

      <div class='form-group'>
        <%= f.label :state, "State"%><br/>
        <%= f.subregion_select :state, 'US', {priority: %w(@patient.state), prompt:'Choose state patient lives in'}, :class=>'form-control' %>
      </div>

      <div class='form-group'>
        <%= label_tag :form_name, "Payer" %>
        <input type='text' id='form_name' class='form-control' placeholder='Payer Name' data-payer></input>
        <%= hidden_field :pa_request, :form_id %>
      </div>
    </formset>

    <div class='form-actions'>
      <%= link_to "Cancel", :back, :class=>'btn btn-default'%>
      <%= f.submit "Order", :class=>'btn btn-primary', :id=>'create'%>
    </div>

  </div>

</div>


<% end %>
