<%= form_for @pa_request do |f| %>
  <%= render 'shared/errors', object: f.object %>
<div class='form-group'>
  <%= f.label :patient_id, "Patient" %><br/>
  <%= select :patient, :id, Patient.all.collect {|p| [p.description, p.id]}, {prompt:'Select a Patient'}, class: 'form-control' %>
  <%= link_to "New Patient...", new_patient_path, :class=>'btn btn-primary' %>
</div>

<div class='form-group'>
  <%= f.label :prescriber_id, "Prescriber" %><br/>
  <% if current_user && current_user.role == Role.doctor %>
    <%= text_field "prescriber", :id, disabled: true, value: "Dr. #{current_user.first_name} #{current_user.last_name}", class: 'form-control' %>
    <%= f.hidden_field :prescriber_id, value: current_user.id %>
  <% else %>
    <%= f.select :prescriber_id, User.doctors.collect { |d| ["Dr. #{d.first_name} #{d.last_name}", d.id] }, { prompt:'Select a Prescriber' }, class: 'form-control'%>
  <% end %>
</div>

<div class='form-group'>
  <%= f.label :state, "State"%><br/>
  <%= f.subregion_select :state, 'US', {priority: %w(@patient.state), prompt:'Choose state patient lives in'}, :class=>'form-control' %>
</div>

<div class="form-group">
  <%= label_tag :prescription_drug_number, "Medication" %><br/>
  <%= search_field :prescription, :drug_number, :class=>'form-control' %>
  <%= hidden_field :prescription, :drug_name %>
</div>

<div class='row'>
  <%= hidden_field :prescription, :id %>
  <div class="form-group col-md-2">
    <%= label_tag :prescription_quantity, "Quantity" %><br>
    <%= number_field :prescription, :quantity, in: 1..90, :class=>'form-control' %>
  </div>

  <div class="form-group col-md-4">
    <%= label_tag :prescription_frequency , "Directions"%><br>
    <%= select :prescription, :frequency, Prescription::FREQUENCIES, {}, {class: 'form-control'} %>
  </div>

  <div class="form-group col-md-2">
    <%= label_tag :prescription_refills, "Refills" %><br>
    <%= select :prescription, :refills, options_for_select((1..10)), {}, {class: 'form-control'} %>
  </div>

  <div class='checkbox form-group col-md-4'>
    <%= label_tag :prescription_dispense_as_written, "Dispense As Written" do %>
    <%= check_box_tag :dispense_as_written, 1, true, {:name => 'prescription[dispense_as_written]'} %>
    <b>Dispense as Written</b>
    <% end %>
  </div>
</div>

<div class='form-group'>
  <%= label_tag :pharmacy_id, "Pharmacy to Fill Prescription" %>
  <%= select :pharmacy, :id, Pharmacy.all.collect {|p| [p.display_name, p.id]}, {prompt:'Select a Pharmacy'}, {:class=>'form-control'} %>
</div>

<div class='form-group'>
  <%= f.label :form_id, "Payer" %>
  <%= f.text_field :form_id, :class=>'form-control' %>
</div>

<div class='checkbox'>
  <%= f.label :urgent do %>
  <%= f.check_box :urgent, :class=>'checkbox' %>
  <b>Urgent?</b>
  <% end %>
</div>

<div class='form-actions'>
  <%= link_to "Cancel", :back, :class=>'btn btn-default'%>
  <%= f.submit "Create", :class=>'btn btn-primary', :id=>'create'%>
</div>

<% end %>
