<%= form_for [@patient, @prescription], :class=>'form-vertical', :role=>'form' do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <div id="request-add" class="template">
    <fieldset>
      <legend>Prescription - <%= "#{@patient.description}" %></legend>
      <div class="row col-md-8">
        <%= render "drug_name" %>

        <%= f.hidden_field :pa_required, value: (@prescription.pa_required ? 1 : 0) %>
        <%= f.hidden_field :autostart, value: (@prescription.autostart ? 1 : 0) %>

        <%= render "prescription_info", f: f %>

        <hr />

        <%= render "patient_benefit_details" %>
        <%= render "deductible_info" %>
        <%= render "substitution_message" %>
        <%= render "messages" %>

        <hr />

        <%= render "original_pharmacy_and_prescriber" %>
        <%= render "start_pa_checkbox" %>

        <div class="actions">
          <%= link_to "Cancel", :back %>
          <%= f.submit nil, :class => 'btn btn-primary create', :onsubmit => 'getDrugName' %>
        </div>

        <%= hidden_field_tag 'prescription_patient_id', @patient.id %>
      </div>
    </fieldset>
  </div>
<% end %>
