<div class="row">
  <div class="col-md-6">
    <%= form_for(user, html: { class: 'form-horizontal' }) do |f| %>
      <%= render 'shared/errors', object: f.object %>

      <fieldset>
        <div class="row">
          <legend class="col-md-offset-2 col-md-5">Personal Information</legend>
        </div>
        <div class="form-group">
          <%= f.label :first_name, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :npi, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :npi, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group bottom">
          <%= f.label :role, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.select :role_id, options_from_collection_for_select(@roles, 'id', 'description', @user.role_id), { include_blank: true }, { class: 'form-control' } %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row">
          <legend class="col-md-offset-2 col-md-5">Practice Details</legend>
        </div>
        <%= render partial: 'form_field', locals: {builder: f, field_label: 'Name', field_name: :practice_name} %>
        <%= render partial: 'form_field', locals: {builder: f, field_label: 'Phone number', field_name: :practice_phone_number, options: {class: 'form-control', data: {mask: '999-999-9999'}, placeholder: '800-555-5555'}} %>
        <%= render partial: 'form_field', locals: {builder: f, field_label: 'Street 1', field_name: :practice_street_1} %>
        <%= render partial: 'form_field', locals: {builder: f, field_label: 'Street 2', field_name: :practice_street_2} %>
        <%= render partial: 'form_field', locals: {builder: f, field_label: 'City', field_name: :practice_city} %>
        <div class="form-group">
          <%= f.label "State", class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.subregion_select :practice_state, 'US', {priority: %w(@user.state)}, :class=>'form-control' %>
          </div>
        </div>
        <%= render partial: 'form_field', locals: {builder: f, field_label: 'Zip', field_name: :practice_zip} %>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
              <label>
                <%= f.check_box :registered_with_cmm %>
                <%= f.label :registered_with_cmm, 'I would like to receive PAs started at the pharmacy for the below fax numbers.' %>
              </label>
            </div>
          </div>
        </div>
        <%= f.fields_for :credentials do |credential| %>
            <%= render 'credential_fields', f: credential %>
        <% end %>
        <div class="form-group">
          <div class="col-md-offset-2">
            <%= link_to_add_association 'Add Fax', f, :credentials %>
          </div>
        </div>
      </fieldset>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
          <%= f.submit class: 'btn btn-primary' %> or <%= link_to 'Back', :back %>
        </div>
      </div>
    <% end %>
  </div> <!-- .col-md-6 -->
</div> <!-- .row -->
