<div class="row">
  <div class="col-md-6">
    <%= form_for(user, html: { class: 'form-horizontal' }) do |f| %>
      <%= render 'shared/errors', object: f.object %>

      <fieldset>
        <div class="row">
          <legend class="col-md-offset-2 col-md-5">Personal Information</legend>
        </div>
        <div class="form-group">
          <%= f.label :first_name, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :npi, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :npi, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group bottom">
          <%= f.label :role, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.select :role_id, options_from_collection_for_select(@roles, 'id', 'description', @user.role_id), { include_blank: true }, { class: 'form-control' } %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row">
          <legend class="col-md-offset-2 col-md-5">Practice Details</legend>
        </div>
        <%- [:practice_name, :practice_phone_number, :practice_street_1, :practice_street_2, :practice_city, :practice_state, :practice_zip].each do |field| %>
          <div class="form-group">
          <%= f.label field.to_s.gsub('practice_',''), class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field field, class: 'form-control' %>
          </div>
        </div>
      <fieldset>
      <% end %>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
          <%= f.submit class: 'btn btn-primary' %> or <%= link_to 'Back', :back %>
        </div>
      </div>
    <% end %>
  </div> <!-- .col-md-8 -->
  <div class="col-md-offset-1 col-md-5 well">
    <h2>Credentials</h2>

    <table class="table">
      <thead>
        <th>Fax Number</th>
        <th>Actions</th>
      </thead>
      <tbody>
      <%- user.credentials.each do |credential| %>
        <tr>
          <td><%= credential.fax %></td>
          <td><%= link_to 'Remove', user_credential_path(@user, credential), method: :delete, class: 'btn btn-default' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'Register a new Fax Number with CoverMyMeds', new_user_credential_path(@user) %>
  </div> <!-- .col-md-4 -->
</div> <!-- .row -->
