<div class="col-md-3">
  <span><label> <%= question[:question_text] %></label> </span>
</div>
<div class="col-md-9 <%= require_if(question[:flag]) %> ">
  <textarea type="text"
  class="form-control <%= require_if(question[:flag]) %>"
  name="<%= massage(question[:question_id], form_name) %>"
  id='<%= question[:question_id] %>'
  data-validation="<%= question[:validations][0] %>"
  data-default-next-id="<%= massage(question[:default_next_question_id], form_name) %>"
  <%= require_if(question[:flag]) %>
  <%= render_coded_reference(question[:coded_reference]) %>
  >
    <%= data[question[:question_id].to_sym] %>
  </textarea>
  <span class="help-block"><%= question[:help_text] %></span>
</div>
