<div class="col-md-12">
  <div
    data-default-next-id="<%= massage(question[:default_next_question_id], form_name) %>"
    name="<%= massage(question[:question_id], form_name) %>"
    <%= render_coded_reference(question[:coded_reference]) %>
  class='well well-lg'>
  <span><%= question[:question_text] if question[:question_text] %></span>
  <%= (question[:content_html]).html_safe if question[:content_html] %>
  </div>
</div>
