<div id="patient-show" class="template">
  <h2><%= "#{@patient.description}" %></h2>
  <%= link_to 'Edit Patient', edit_patient_path(@patient), :class=>"btn btn-md btn-primary" %>
  <hr>
  <h3>Prescriptions <div class='pull-right'><small>PA Requests: <%= @patient.pa_requests.count %></small></div></h3>

  <% if @patient.prescriptions.empty? %>
  <h5>No prescriptions have been added for this patient yet.</h5>
  <%  else  %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Medication</th>
        <th>PA Status</th>
        <th colspan="2">Prescribed On</th>
      </tr>
    </thead>
    <% @patient.prescriptions.order('date_prescribed DESC').each do |prescription| %>
    <% request = prescription.pa_requests.first || PaRequest.new %>
    <tr>
      <td>
        <%= link_to prescription.drug_name, edit_patient_prescription_path(@patient, prescription), :class=>"#{(request.sent) ? 'disabled' : ''}" %>
      </td>

      <td class="start">
        <% if prescription.pa_required? %>
          <% if request.new_record? %>
            <%= link_to "PA Required", new_patient_prescription_pa_request_path(@patient, prescription), :id => 'start_pa_request' %>
          <% else %>
            <%= link_to cmm_outcome_label(request), patient_prescription_pa_request_path(@patient, prescription, request) %>
          <% end %>
        <% else %>
            PA Not Required
        <% end %>
      </td>

      <td>
        <%= prescription.date_prescribed && prescription.date_prescribed.strftime("%B %d at %I:%M %p") %></td>
        <td>
          <%= link_to "X", [@patient, prescription], method: :delete, :class=>'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <% end %>
    </table>
    <% end %>
    <%= link_to "Add Prescription", new_patient_prescription_path(@patient), :class=>'btn btn-success' if current_user && current_user.role == Role.doctor %>
  </div>
