<%= form_for([user, credential], html: { class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <div class="form-group">
    <%= f.label :fax, class: 'control-label col-md-1' %>
    <div class="col-md-5">
      <%= f.text_field :fax, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-5">
      <%= f.submit class: 'btn btn-primary' %> or <%= link_to 'Back', :back %>
    </div>
  </div>
<% end %>
