<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Your EHR", root_path, :class=>'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Home", home_path %>
        </li>
        <li>
          <%= link_to "Patients", patients_path %>
        </li>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Prior Authorizations<b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><%= link_to "Task List", pa_requests_path %></li>
            <li><%= link_to "New PA Request", new_staff_pa_request_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Contact CoverMyMeds", help_path %></li>
          </ul>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'><%= salutation %> <b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <% if current_user %>
              <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
              <% end %>
              <li><%= link_to "Sign in as #{@demo_doctor.display_name}", demo_login_path(Role::DOCTOR), id: "dr_login" %></li>
              <li><%= link_to "Sign in as Staff", login_path(Role::STAFF), id: "staff_login" %></li>
              <% if current_user %>
              <li><%= link_to "Sign out", logout_path %></li>
              <% end %>
            </ul>
          </li>
          <% if current_user && current_user.alerts.any? %>
            <li>
            <%= link_to alerts_path do %>
              <span class="badge progress-bar-danger"><%= current_user.alerts.count %></span>
              <%= pluralize_without_count(current_user.alerts.count, 'Alert') %>
            <% end %>
            </li>
          <% end %>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Resources<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><%= link_to "API Documentation", api_documentation_path %></li>
              <li><%= link_to "Source Code", source_code_path %></li>
            </ul>
          </li>
           <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Demo<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><%= link_to "Initiate Retrospective", 'https://claim-test.herokuapp.com'%></li>
              <li><%= link_to "See Callbacks", cmm_callbacks_path %></li>
              <% if @_use_custom_ui %>
              <li class='divider'></li>
              <li><%= link_to "Use CoverMyMeds Request Page", toggle_ui_path(return: request.original_url) %></li>
              <% else %>
              <li><%= link_to "Use Request-Pages", toggle_ui_path(return: request.original_url) %></li>
              <% end %>
              <li><%= link_to "Reset Database", reset_db_path, method: :get, data: { confirm: "Are you sure? \nThis will remove any newly created data. \nThis cannot be undone." } %></li>
            </ul>
          </li>
          <li>
            <%= yield :controls %>
          </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
