<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Your EHR</title>
  <%= stylesheet_link_tag    'application' %>
  <%= csrf_meta_tags %>

  <script>
    (function (window) {
      /**
       * For security, it's best to remove this file, and store your API ID and
       * secret in a server-side API middleman endpoint.
       */   
      window.config = {
         
        apiId:'<%= ENV['CMM_API_KEY'] %>',
        apiUrl:'<%= ENV['CMM_API_URL'] %>',
        version: 1
      };
    }(window));  
  </script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  <!-- HTML5 Canvas element for IE8 -->
  <!--[if IE]><script src="excanvas.js"></script><![endif]-->
  </head>
  <body>
    <%= render :partial => 'application_navbar' %>

    <div class="container theme-showcase" role="main">
    <section class='error-row'>
      <% flash.each do |key, messages| %>
        <% Array(messages).each do |message| %>
          <div class="<%= flash_class(key) %>" id="flash_<%= key %>">
            <button type='button' class='close' data-dismiss='alert'>&times;</button>
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </section>

    <%= yield %>

    </div>

    <%= javascript_include_tag "application" %>

  </body>
  </html>

